body {
    padding-bottom: 40px;
    position: relative;
    font: 20px "Microsoft YaHei", Verdana, Geneva, sans-serif;
}

body,
footer {
    transition: .5s all;
}

.equipment-list-page {
    background-color: #71C687;
}

.temperature-heat-page {
    background-color: #FF9640;
}

.temperature-cool-page {
    background-color: #6CC6E5;
}

.humidity-page {
    background-color: #00688B;
}

.statistic-page {
    background-color: #F26B5E;
}

.config-page {
    background-color: #ccc;
}

.footer .col-xs-3 {
    text-align: center;
}

.footer a div {
    display: inline-block;
    width: 40px;
    height: 40px;
}

footer .row div.temperature {
    background: no-repeat url(pic/Navi-control-white.png);
}

footer .row div.equipments {
    background: no-repeat url(pic/Navi-house-white.png);
}

footer .row div.statistics {
    background: no-repeat url(pic/Navi-chart-white.png);
}

footer .row div.config {
    background: no-repeat url(pic/Navi-set-white.png);
}

footer .row div.Navi-config-page {
    background: no-repeat url(pic/Navi-control-white-solid.png);
}

footer .row div.Navi-ac-page {
    background: no-repeat url(pic/Navi-house-white-solid.png);
}

footer .row div.Navi-chart-page {
    background: no-repeat url(pic/Navi-chart-white-solid.png);
}

footer .row div.Navi-set-page {
    background: no-repeat url(pic/Navi-set-grey.png);
}

h1 {
    font-size: 25;
    display: inline-block;
}

.edit-device-btn {
    background: no-repeat url(pic/Deviceedit-grey.png);
}

#addbtn {
    margin-top: 20px;
}

.logoutbtn {}

.row.underline-row {
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
}

.footer .row img {
    padding: 5px;
}

.equipmentDetailRow {
    padding-left: 20px;
}

#equipmentAddbtn {
    position: relative;
    width: 350px;
    height: 100px;
    left: 50%;
    margin-left: -175px;
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    /*边框圆角*/
}

#equipmentAddInput {
    background-color: : transparent;
}

.large {
    font-size: 30px;
    color: white;
    /*padding:10px 0;*/
}

.medium {
    font-size: 20px;
    color: black;
    padding-top: 5px;
}

.small {
    font-size: 15px;
    color: white;
    padding-top: 5px;
}

td {
    text-align: center;
}

hr {
    border-width: 1px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

div.equipmentOffColor .large,
div.equipmentOffColor .small {
    color: gray;
}

p {
    margin: 5;
}

.wrap {
    position: relative;
    z-index: 10;
    height: 400px;
    margin: 10px;
    top: 50px;
    background-image: url("pic/Frontpage-backimage.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 20%;
}

.all-middle {
    z-index: 10;
    width: 250px;
    height: 200px;
    top: 27%;
    margin: auto;
    text-align: center;
    position: relative;
}

#mainscreen-digit {
    font-size: 108px;
    color: #FFF;
    display: inline-block;
}

.up-temp-btn {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    left: 50%;
    top: -20px;
    background-image: url("pic/Temp-sun-plus.png");
    transform: translateX(-50%);
}

.down-temp-btn {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    left: 50%;
    bottom: 20px;
    background-image: url("pic/Temp-sun-minus.png");
    transform: translateX(-50%);
}

.up-snow-btn {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    left: 50%;
    top: -20px;
    background-image: url("pic/Temp-snow-plus.png");
    transform: translateX(-50%);
}

.down-snow-btn {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100px;
    left: 50%;
    bottom: 20px;
    background-image: url("pic/Temp-snow-minus.png");
    transform: translateX(-50%);
}

#centigrade-sign {
    font-size: 38px;
    color: #FFF;
    text-indent: -20px;
    position: absolute;
    top: 20px;
    right: 20%;
}

.mode-sign {
    position: absolute;
    z-index: 20;
    height: 35px;
    width: 35px;
    background-image: url("pic/Temp-sun-big.png");
    display: inline-block;
    left: 180px;
    top: 80px;
}

.acController-mode-sign {
    position: absolute;
    height: 35px;
    width: 35px;
    background-image: url("pic/Temp-sun-big.png");
    right: 18%;
    bottom: 18%;
}

.acController-mode-sign.cooling {
    background: url("pic/Humidity.png") no-repeat;
    background-position: 12px;
}

.trending-sign {
    position: absolute;
    z-index: 20;
    height: 20px;
    width: 20px;
    display: inline-block;
    left: 220px;
    top: 88px;
}

.trending-sign.up {
    background-image: url("pic/Arrow-up.png");
}

.trending-sign.down {
    background-image: url("pic/Arrow-down.png");
}

.switch-to-humidity-btn {
    position: absolute;
    z-index: 20;
    height: 21px;
    width: 12px;
    background-image: url("pic/Forward-white.png");
    display: inline-block;
    right: -30px;
    top: 60px;
}

.switch-to-temperature-btn {
    position: absolute;
    z-index: 20;
    height: 21px;
    width: 12px;
    background-image: url("pic/Back-white.png");
    display: inline-block;
    left: -32px;
    top: 60px;
}

.controllerPanel {
    position: relative;
}

.lightControllBtn {
    width: 300px;
    height: 120px;
    left: 50%;
    margin-left: -150px;
    position: relative;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    /*边框圆角*/
    color: white;
    -webkit-tap-highlight-color: #71C687;
    -webkit-user-select: none;
}

.lightControllBtn:active,
.lightControllBtn:focus {
    background-color: #71C687;
}

#lightControlHeader {
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.acPowerControlBtn {
    width: 70px;
    height: 90px;
    position: relative;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
    /* margin-left: 50px; */
}

.acControlDisplay {
    display: inline-block;
    margin-top: 5%
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    /*超链接无下划线*/
}


/*chart*/

.temperature-chart,
.humidity-chart {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

canvas {
    margin-top: 20px;
}


/*override loading bar*/

#loading-bar .bar {
    background: red;
}

.container.middle {
    width: 100%;
    margin: auto;
}

.ac-remote-control {
    margin-top: 50px;
    padding: 10px;
    width: 93px;
    height: 238px;
    background: url("pic/AC-button.png") no-repeat;
}

.ac-remote-control button {
    background: transparent;
    width: 70px;
    height: 100px;
    margin-bottom: 18px;
    border: 0;
}

.ac-btn-group {
    margin-top: 50px;
    height: 240px;
    width: 93px;
    /*border: 1px solid;*/
}

.ac-btn-group button {
    width: 120px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid white;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}

.ac-btn-group .mode {
    background: url("pic/Temp-sun.png") no-repeat;
    background-position: 90%;
}

.ac-btn-group .mode.cooling {
    background: url("pic/Humidity.png") no-repeat;
    background-position: 90%;
}

.ac-btn-group .wind-speed {
    background: url("pic/Wind-speed.png") no-repeat;
    background-position: 90%;
}

.ac-btn-group .wind-direction {
    background: url("pic/Wind-direction.png") no-repeat;
    background-position: 90%;
}

.ac-btn-group .timing {
    background: url("pic/Time-white.png") no-repeat;
    background-position: 90%;
}

button:active {
    border: 2px solid white;
}

line-chart {
    display: block;
}

footer a {
    display: block;
}

footer {
    background: transparent;
}
