<span class="pull-left">
    <a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png"></a>
  </span>
<h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <span id="mainscreen-digit1">{{equipment.temperature || '??'}}</span>
            <span id="ac-centigrade-sign">℃</span>
            <div class="acController-mode-sign" ng-class="{'cooling': !equipment.heating}"></div>
        </div>
        <div class="col-xs-4">
            <button type="button" class="acPowerControlbtn" ng-click="power()">
                {{equipment.AC_power_on_status? "Off": "On"}}</button>
        </div>
    </div>
    <div cdass="row">
    	<div class="col-xs-6">
    		<div class="ac-remote-control">
    			<button ng-click="changeTemp(true)"></button>
    			<button ng-click="changeTemp(false)"></button>
    		</div>	
    	</div>
    	<div class="col-xs-6">
    	<div class="ac-btn-group">
    		<button class="mode" ng-class="{'cooling': !equipment.heating}" ng-click="changeMode()">Mode</button>
    		<button class="wind-speed" ng-click="changeWind()">Wind</button>
    		<button class="wind-direction" ng-click="changeFan()">Fan</button>
    		<button class="timing" ng-click="changeTime()">Time</button>
    	</div>
    	</div>
    </div>
</div>
