<span class="pull-left">
    <a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png"></a>
  </span>
  <h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
    <br/>
    <br/>

    <div class="controllerPanel">	    
    	<div class="acControlDisplay">
	    	<span id = "mainscreen-digit">{{equipment.temperature}}</span>
			<span id = "centigrade-sign">℃</span>
			<div class = "acController-mode-sign"></div>
	    </div>
	   	<div class="acControlDisplay">
	   		<button type="button" class="acPowerControlbtn" ng-click="power()">
	    		<img src="/Pic/Power-white.png">&nbsp;&nbsp;{{equipment.AC_power_on_status? "Off": "On"}}&nbsp;&nbsp;</button>
	    </div>
	</div>
