    <div>
      <h1>Devices</h1>
      <span class="pull-right">
        <a href='#/equipmentAdd'><img id="add-device" src="pic/Deviceadd-darkgrey.png"></a>
      </span>
    </div>
    <div class="row underline-row" ng-repeat="equipment in equipments">
      <div class="col-xs-1">
        <img src="pic/Deviceedit-grey.png" ng-click="edit(equipment)" ng-disabled="!equipment.canEdit"></img>
      </div>
      <div class="col-xs-8">{{equipment.type}} - {{equipment.location}}</div>
      <div class="col-xs-3">
        <img src="pic/Deviceremove-grey.png" ng-click="delete(equipment)" class="pull-right"></div>
      </div>
    </div>
 
  <h1>Account</h1>
  <div class="row underline-row">
    <div class="col-xs-6">Username</div>
    <div class="col-xs-6"><span class="pull-right">Log out</span></div>
  </div>

  <h1>Help</h1>
  <div class="row underline-row">
      <div class="col-xs-6">Manual</div>
      <div class="col-xs-6"><img src="pic/Forward-grey.png" ng-click="ManualPage" class="pull-right"></div>
  </div>