<span class="pull-left">
    <a href='#/config'><img id="addbtn" src="pic/Back-darkgrey.png"></a>
</span>
<h1>Add Equipment</h1>
<div class="row underline-row">
    <div class="col-xs-3">Type:</div>
    <div class="col-xs-9">
        <select name="equipment" ng-model="type">
            <option value="AC">AC</option>
            <option value="light">light</option>
        </select>
    </div>
</div>
<div class="row underline-row">
    <div class="col-xs-3">Description:</div>
    <div class="col-xs-9">
        <input ng-model="location">
    </div>
</div>
<div class="row underline-row">
    <button class="col-xs-10 col-xs-offset-1" id="equipmentAddbtn" ng-click="add()">Add</button>
</div>
