   <span class="pull-left">
    <a href='#/config'><img id="addbtn" src="pic/Back-darkgrey.png"></a>
  </span>
  <h1>  添加设备</h1>

    <div class="row underline-row">
    	<div class="col-xs-3">类型:</div>
    	<div class="col-xs-9">
          <select name="equipment"> 
          <option value="ac">空调</option> 
          <option value="light">电灯</option>
          </select> 
      </div>
    </div>
 
 	<div class="row underline-row">
    	<div class="col-xs-3">位置:</div>
    	<div class="col-xs-9"><input class="equipmentAddInput"></input></div>
    </div>

    <div>
    	<button type="button" id="equipmentAddbtn">添加</button>
    </div>