<a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png">
    <span class="pull-left"></span>
    <h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
</a>
<a href="#/remoteEdit/{{equipment.id}}">
    <span class="pull-right remote-edit">
    </span>
</a>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <button class="fanSpeedControlBtn" ng-click="update('wind_speed')">Speed</button>
        </div>
        <div class="col-xs-4">
            <button class="natureControlBtn" ng-click="update('anion')">Anion</button>
        </div>
        <div class="col-xs-3">
            <button class="acPowerControlbtn" ng-click="update('switch')">Power</button>
        </div>
    </div>
    <div cdass="row">
        <div class="fan-control-wrap">
            <div id="fan-control-up" ng-click="update('warm_air')"></div>
            <div id="fan-control-right" ng-click="update('switch')"></div>
            <div id="fan-control-down" ng-click="update('humidification')"></div>
            <div id="fan-control-left" ng-click="update('swing')"></div>
        </div>
    </div>
</div>
