<a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png">
    <span class="pull-left"></span>
    <h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
</a>
<a href="#/remoteEdit/{{equipment.id}}">
    <span class="pull-right remote-edit">
    </span>
</a>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <button class="fanSpeedControlBtn">speed</button>
        </div>
        <div class="col-xs-4">
            <button class="natureControlBtn">natural</button>
        </div>
        <div class="col-xs-3">
            <button class="acPowerControlbtn">power</button>
        </div>
    </div>
    <div cdass="row">
        <div class="fan-control-wrap">
            <div id="fan-control-up"></div>
            <div id="fan-control-right" src=""></div>
            <div id="fan-control-down" src="picx2/Fancontrol-down.png"></div>
            <div id="fan-control-left" src=""></div>
        </div>
    </div>
</div>
