<span class="pull-left">
    <a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png"></a>
  </span>
<h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
<br/>
<br/>
<div class="controllerPanel">
  <div>
    <button type="button" class="lightControllBtn" ng-click="power()">
      <span><img src="pic/Power-white.png"></span>&nbsp;&nbsp;{{equipment.light_power_on_status? 'Off': 'On'}}&nbsp;&nbsp;</button>
  </div>
  <br/>
  <div>
    <button type="button" class="lightControllBtn" ng-click="power(5)">
      <span><img src="pic/Time-white.png"></span> 5 min {{equipment.light_power_on_status? 'Off': 'On'}}</button>
  </div>
  <br/>
  <div>
    <button type="button" class="lightControllBtn" ng-click="power(10)">
      <span><img src="pic/Time-white.png"></span> 10 min {{equipment.light_power_on_status? 'Off': 'On'}}</button>
  </div>
</div>
