<span class="pull-left">
    <a href='#/equipmentlist'><img id="addbtn" src="pic/Back-white.png"></a>
  </span>
<h1 id="lightControlHeader"> {{equipment.type}} - {{equipment.location}}</h1>
<br/>
<br/>
<div class="controllerPanel">
  <div>
    <button type="button" class="lightControllBtn now" ng-click="power()">
      {{equipment.light_power_on_status? 'Off': 'On'}}
    </button>
  </div>
  <br/>
  <div>
    <button type="button" class="lightControllBtn five" ng-click="power(5)">
      5 min {{equipment.light_power_on_status? 'Off': 'On'}}
    </button>
  </div>
  <br/>
  <div>
    <button type="button" class="lightControllBtn five" ng-click="power(10)">
      10 min {{equipment.light_power_on_status? 'Off': 'On'}}
    </button>
  </div>
</div>
