<a href='#/equipmentlist'><img id="addbtn" src="picx2/Back-white.png" width="12" height="21">
    <span class="pull-left"></span>
    <h1 id="lightControlHeader">Edit Remote</h1>
</a>
<div class="row underline-row">
    <div class="col-xs-3 labels">Type:</div>
        <select name="equipment" ng-model="remote.type" class="col-xs-3 pull-right" disabled="disabled">
            <option value="ac">AC</option>
            <option value="light">light</option>
        </select>
</div>
<hr>
<div class="row underline-row">
    <div class="col-xs-3 labels">Description:</div>
    <input ng-model="remote.location" class="col-xs-3 pull-right" disabled="disabled">
</div>
<hr>
<div class="row underline-row">
    <button class="col-xs-4 col-xs-offset-1" id="remote-add-btn">Save</button>
    <button class="col-xs-4 col-xs-offset-1" id="remote-add-btn" ng-click="delete()">Delete</button>
</div>
