<span class="pull-left">
    <a href='#/equipmentlist'><img id="addbtn" src="picx2/Back-white.png" width="12" height="21"></a>
  </span>
<h1 id="lightControlHeader">Add Remote</h1>
<div class="row underline-row">
    <div class="col-xs-3 labels">Type:</div>
    <div class="col-xs-3 pull-right">
        <select name="equipment" ng-model="type">
            <option value="AC">AC</option>
            <option value="light">light</option>
        </select>
    </div>
</div>
<hr>
<div class="row underline-row">
    <div class="col-xs-3 labels">Description:</div>
    <div class="col-xs-5 pull-right">
        <input ng-model="location">
    </div>
</div>
<hr>
<div class="row underline-row">
    <button class="col-xs-8 col-xs-offset-2" id="remote-add-btn" ng-click="add()">Add</button>
</div>
