<div class="wrap">
    <div class="up-temp-btn" ng-click="changeTemp(true)"></div>
    <div class="all-middle">
        <span id="mainscreen-digit">{{currentTemperature || '??'}}</span>
        <span id="centigrade-sign">℃</span>
        <div class="mode-sign"></div>
        <div class="trending-sign" ng-class="{'up': trend===1, 'down': trend===-1}"></div>
        <a href="#/humidity">
            <div class="switch-to-humidity-btn"></div>
        </a>
    </div>
    <div class="down-temp-btn" ng-click="changeTemp(false)"></div>
</div>
